/* YourNavbarStyles.css */

.navbar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8); */
  text-align: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center; 
}

.navbar-item {
  cursor: pointer;
}

/* Dropdown styles */
.navbar-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centering the text in the dropdown menu */
}

.navbar-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}

/* Hamburger  */
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;

}